<div class="row">
		<div class="large-12 columns">
			<div class="dw-title medium-9"> 
				<span>dorm.works</span>

			</div>
			<div class="dw-sub-header medium-6">
				<span>Your are almost finished! <br> We sent you an email, please click on the link in your email to confirm your account</span>
			</div>
			
			<div class="medium-6 dw-text">
				<h3>Places You Can Find Us</h3>
        <div class="social-media">        
          <ul>
            <li><a href="http://twitter.com/dorm_works">
            <i class="fa fa-twitter fa-3x"></i></a></li>
            <li><a href="http://plus.google.com/+Blendmeinc">
            <i class="fa fa-product-hunt fa-3x"></i></a></li>
            <li><a href="https://www.facebook.com/dormworks/"><i class="fa fa-facebook fa-3x"></i></a></li>
          </ul> 
        </div>
			</div>
	 </div>  <!-- end of large-12 -->
</div> <!-- end of row -->

